.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../assets/bgphoto.jpg');
    background-size: cover;
 
  }
  
  .card {
    width: 30rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .heading {
    text-align: center;
    margin-bottom: 1rem;
  }

/*
  .buttonLogin {
    display: flex;
    text-align: center;
    justify-content: center;
  } */

  .link-container {
    text-align: center;
    margin-top: 1rem;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }